.border {
  border: 1px solid #2855c3 !important;
}
.dropdown-menu {
  border-radius: 4px !important;
  box-shadow: rgb(40 92 195 / 10%) 0 0 0 4px !important;
  border-radius: 4px;
  margin-top: 10px;
  /* width: auto !important;

  max-width: 1px; */
}

.search-input {
  margin: 9px 9px 4px;
  border-radius: 6px;
  width: calc(100% - 18px);
}
