.custom-font,
.small-placeholder::placeholder {
  margin-bottom: 0.5rem;
  font-size: 0.64rem;
}
.fw-700 {
  font-weight: 700;
}

.fs-0-point-7 {
  font-size: 0.7rem !important;
}
body {
  /* font-size: 0.64rem !important; */
}

.navbar {
  padding: 0 !important;
}

.btn-sm {
  --bs-btn-padding-y: 0.25rem !important;
  --bs-btn-padding-x: 0.5rem !important;
  --bs-btn-font-size: 0.7rem !important;
}

.btn-md {
  --bs-btn-padding-y: 0.5rem !important;
  --bs-btn-padding-x: 0.5rem !important;
  --bs-btn-font-size: 0.8rem !important;
}

.form-label,
label {
  font-size: 0.7rem !important; /* equivalent to fs-0.7 */
  margin-bottom: 0 !important; /* equivalent to mb-0 */
  margin-right: 0.5rem !important; /* equivalent to me-2 */
}

.form-control,
.form-select {
  font-size: 0.875rem !important; /* equivalent to form-control-sm */
  padding: 0.375rem 0.75rem !important; /* standard padding for .form-control-sm */
}

.form-control::placeholder,
.form-select::placeholder,
select::placeholder {
  font-size: 0.75rem !important; /* Smaller placeholder text */
  color: #6c757d !important; /* Optional: Adjust placeholder color */
}

.modal {
  background: #0000004d !important;
  transition: transform 0.3s ease;
}

.modal-content {
  box-shadow: 0 4px 10px #00000087 !important;
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-switch .form-check-input {
  width: 3em !important;
  height: 1.8em;
  background-color: #e9ecef;
  border-radius: 1.5em;
  position: relative;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.form-switch .form-check-input:checked {
  background-color: #0d6efd;
}
.form-switch .form-check-input:before {
  content: "";
  position: absolute;
  /* width: 1em;
  height: 1em; */
  background-color: #fff;
  border-radius: 50%;
  top: 0.25em;
  left: 0.25em;
  transition: transform 0.15s ease-in-out;
}
.form-switch .form-check-input:checked:before {
  transform: translateX(1em);
}

/* Fixed width for labels and inputs */
.fixed-width-label {
  width: 150px; /* Adjust the width as needed */
}

.fixed-width-input {
  width: 100%; /* Ensures input takes the remaining space */
}
